h1 {
   
    text-align: center;
    margin-top: 250px;
    font-size: 55px;

    
    
    .rubik-wet-paint-regular.pattaya-regular {
        font-family: "Pattaya", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
}
      

h4 {
    color: aqua;
    font-size: 24px;
    text-align: center;    
    font-style: italic;
}
body {
    padding: 20px;
    background-color: antiquewhite;


}   

button {
    display: block;
    width: 25%;
    margin: 5px auto;
    padding: 10px;
    border: none;
    border-radius: 20px;
    color: aliceblue;
    background: darkorchid;
    cursor: pointer;
}


